body {
    background-color: rgb(52, 51, 51);
  }
  div {
    width: 60%; /* Ancho del div en porcentaje del ancho del contenedor */
    height: auto; /* Alto del div en pixels */
    margin: auto; /* Centra el div en el contenedor */
    padding: 20px; /* Añade un padding de 20 pixels a todos los lados del div */
  }

  h1 {
    color: rgb(250, 249, 249);
  }

  h2 {
    color: rgb(250, 245, 245);
  }

  p {
    color: rgb(224, 228, 224);
  }

  li {
    color:rgb(208, 205, 205);
  }