body {
    background-color: #000;
  }
  div {
    width: 80%; /* Ancho del div en porcentaje del ancho del contenedor */
    height: 500px; /* Alto del div en pixels */
    margin: auto; /* Centra el div en el contenedor */
    padding: 20px; /* Añade un padding de 20 pixels a todos los lados del div */
  }

  h1 {
    color: #f00;
  }

  h2 {
    color: #f00;
  }

  p {
    color: rgb(95, 173, 95);
  }

  li {
    color:rgb(95, 173, 95);
  }